.App {
  text-align: center;
}

@media {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ScrollContainer {
  position: relative;
  text-align: center;
}

.ScrollTextContainer {
  position: absolute;
  top: 40px;
  left: 60px;
}

.WishlistImage {
  width: 400px;
}

.Wishlist {
}