.App {
  text-align: center;
}

.WishlistContainer {
  position: absolute;
}

.ScrollContainer {
  position: relative;
  text-align: center;
}

.ScrollTextContainer {
  position: absolute;
  top: 40px;
  left: 60px;
}

.WishlistImage {
  width: 300px;
}

.Wishlist {}

@media (max-width: 992px) {}
