@font-face {
  font-family: Dafoe;
  src: url(assets/fonts/MrDafoe-Regular.ttf);
}

:root {
}

.App {
  display: flex;
  text-align: center;
}

.WishlistContainer {
  position: absolute;

  h4 {
    margin: 6px;
  }
}

.ListContainer {
  position: relative;
  text-align: center;
}

.ListTextContainer {
  overflow: scroll;
  position: absolute;
  width: 90%;
  top: 20px;
  left: 5px;
  text-align: left;
}

.WishlistImage {
  width: calc(1/5 * 100vh);
}

.CircleBackground {
  width: 100%;
  min-height: 100vh;
  background: rgb(246,244,242);
  background: radial-gradient(circle, rgba(246,244,242,1) 0%, rgba(215,210,196,1) 50%);
}

header {
  display: block;
  color: white;
  align-items: center;
  width: 300px;
  z-index: 100;
  background: rgb(174,16,29);
  background: linear-gradient(0deg, rgba(243,27,17,1) 0%, rgba(160,17,10,1) 100%);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);

  h1 {
    font-family: Dafoe;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 100px;
  }

  h2 {
    text-align: left;
    margin-left: 30px;
  }

  > ul {
    text-align: left;
    padding: 0px;
    margin-left: 30px;
  }

  > ul > li {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: large;
  }

  > ul > li > p {
    border: solid black;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    margin-right: 10px;
    -webkit-transform: rotate(-45deg);
  }

}

footer {
  padding: 20px;
  z-index: 1000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;

  div {
    display: flex;
  }

  h4 {
    color: white;
    margin-left: 10px;
  }
}

#githubArea {
  margin-top: auto;
  margin-bottom: auto;
}

#catButton {
  background: url(assets/images/github.png);
  background-size: 100%;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: 0.8s ease-in-out;
}

#catButton:hover {
  transform: rotate(360deg);
}

#ChristmasCircle {
  position: absolute;
  width: 200px;
}

.Wishlist {}

@media (max-width: 992px) {}
